<?xml version="1.0"?>
<config>
    <global>
        <install>
            <date><![CDATA[Sat, 11 Apr 2015 12:33:05 +0000]]></date>
        </install>
        <crypt>
            <key><![CDATA[${ENCRYPTIONKEY}]]></key>
        </crypt>
        <disable_local_modules>false</disable_local_modules>
        <resources>
            <db>
                <table_prefix><![CDATA[]]></table_prefix>
            </db>
            <default_setup>
                <connection>
                    <host><![CDATA[${MYSQL_HOST}]]></host>
                    <username><![CDATA[${MYSQL_USER}]]></username>
                    <password><![CDATA[${MYSQL_PASSWORD}]]></password>
                    <dbname><![CDATA[${MYSQL_DATABASE}]]></dbname>
                    <initStatements><![CDATA[SET NAMES utf8]]></initStatements>
                    <model><![CDATA[mysql4]]></model>
                    <type><![CDATA[pdo_mysql]]></type>
                    <pdoType><![CDATA[]]></pdoType>
                    <active>1</active>
                </connection>
            </default_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <frontName><![CDATA[${ADMIN_FRONTNAME}]]></frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <web>
            <unsecure>
                <base_url><![CDATA[http://${DOMAIN}/]]></base_url>
                <base_link_url><![CDATA[{{unsecure_base_url}}]]></base_link_url>
                <base_skin_url><![CDATA[{{unsecure_base_url}}/skin/]]></base_skin_url>
                <base_media_url><![CDATA[{{unsecure_base_url}}/media/]]></base_media_url>
                <base_js_url><![CDATA[{{unsecure_base_url}}/js/]]></base_js_url>
            </unsecure>
            <secure>
                <base_url><![CDATA[https://${DOMAIN}/]]></base_url>
                <base_link_url><![CDATA[{{secure_base_url}}]]></base_link_url>
                <base_skin_url><![CDATA[{{secure_base_url}}/skin/]]></base_skin_url>
                <base_media_url><![CDATA[{{secure_base_url}}/media/]]></base_media_url>
                <base_js_url><![CDATA[{{secure_base_url}}/js/]]></base_js_url>
            </secure>
            <cookie>
                <domain_path><![CDATA[${DOMAIN}]]></domain_path>
            </cookie>
        </web>
    </default>
</config>
